.card {
  background-color: #212121;
}

#space ul li a {
  padding: 5px 30px !important;
  font-size: 12px;
}

.browse {
  position: fixed;
  z-index: 1;
}

.menu {
  position: fixed;
}

.my-fixed-item {
  position: fixed;
  min-height: 120px;
  max-width: 250px;
}

samp {
  color: rgb(253, 74, 73);
}

.callout-container {
  padding: 15px;
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 1.8rem;
}

.callout-container h4 {
  /* color: aquamarine; */
  font-size: 18px;
  /* font-weight: bold; */
}

.sub-tema {
  color: #495057;
}

.sub {
}

/* //////////////////////////////////////*/
/* quiz */

.box {
  /* width: 100%;
    height: 50%;
    margin-left: auto;
    display: block;

   

    width: 100%;
    /* height: 800px; */
  /* background-color: aquamarine; */
  /* height: 100vh; */
  margin-left: auto;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.celda {
  width: 80px;
}

.centrar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.box-info {
  margin-top: 1rem;
}

.sub-box {
  display: flex;
}

.celda-nulo {
  background-color: #f5cdcc;
}

.celda-bajo {
  background-color: #fce5cd;
}

.celda-medio {
  background-color: #e3f2dc;
}

.celda-alto {
  background-color: #c6dbf7;
}

.sub-box-interno {
  /* background-color: aquamarine; */
  padding-inline: 1rem;
  padding-top: 8px;
}

.t-question {
  font-size: 1rem !important;
}

.box-info {
  font-size: 11px;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: rgb(253, 74, 73);
}

.step-box,
.step-box2,
.step-box3,
.step-box4,
.step-box5,
.step-box6,
.step-box7,
.step-box8,
.step-box9,
.step-box10,
.step-box11,
.step-box12,
.step-box13,
.step-box14,
.step-box15,
.step-box16,
.step-box17,
.step-box18,
.step-box19,
.step-box20,
.step-box21,
.step-box22,
.step-box23,
.step-box24,
.step-box25,
.step-box26,
.step-box27,
.step-box28,
.step-box29,
.step-box30,
.step-box31,
.step-box32,
.step-box33,
.step-box34,
.step-box35,
.step-box36,
.step-box37,
.step-box38,
.step-box39,
.box-result {
  padding-inline: 1rem;
  /* padding-top: 2rem; */
  /* padding: 2.5rem; */
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  --tw-bg-opacity: 1;
  /* background-color: rgba(254, 202, 202, var(--tw-bg-opacity)); */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.style-question {
  border: 2px solid #dee2e6;
  border-radius: 5px;
  margin: 0.5rem;
  padding-inline: 1rem;
  padding-top: 8px;
}

.style-question:hover {
  border: 2px dashed rgb(253, 74, 73);
  color: #495057;
}

.btn-style {
  background-color: white;
  border-color: rgb(253, 74, 73);
  color: rgb(253, 74, 73);
  font-weight: bolder;
}

.btn-style:hover {
  background-color: rgb(253, 74, 73);
  color: #f7f7f9;
  font-weight: bolder;
}

.style-r {
  border-left: solid 5px rgb(253, 74, 73);
  padding-left: 3px;
}
.contenedor-texto {
    padding: 3rem 2rem 2rem 1rem;
}
@media (max-width: 576px) {
  .contenedor-texto {
    padding: 1rem 1rem 0rem 1rem !important;
  }
}

.titulo2 {
  text-align: start !important;
}
.box-r-style {
  margin-bottom: 5rem !important;
}

.style-dimencion {
  width: 17px;
  font-size: 11px;
}


/*  */
.titulo{
  width: 17px;
  font-size: 11px;
  color: rgb(253, 74, 73);
  font-weight: 400!important;
  text-align: center!important;
  
}

.style-c {
  font-weight: normal;
  font-size: 12px;
  width: 80%;

}
.recom-style{
  text-align: justify;
}

.recom-style b{
  font-weight: 600!important;
}

.recom-style span{
  font-weight: 400!important;
  font-size: 11px;
  color: rgb(253, 74, 73);
}

/*  */


.style-cq {
  font-weight: normal;
  font-size: 12px;
  width: 50%;
}

.menu-nav {
  background-color: #212121 !important;
  color: #fff;
  /* height: 80px; */
}

.nav-link:hover {
  color: rgb(253, 74, 73) !important;
}

.btn-style-nav {
  background-color: white;
  border-color: rgb(253, 74, 73);
  color: rgb(253, 74, 73);
  font-weight: bolder;
}

.btn-style-nav:hover {
  background-color: rgb(253, 74, 73);
  color: #f7f7f9;
  font-weight: bolder;
}

.imagen-logo {
  width: 100px;
}

.badge-primary {
  background-color: #f5cdcc;
  color: #495057;
}

.badge-secondary {
  background-color: #fce5cd;
  color: #495057;
}

.badge-success {
  background-color: #e3f2dc;
  color: #495057;
}

.badge-danger {
  background-color: #c6dbf7;
  color: #495057;
}

.badge {
  width: 56px;
  height: 20px;
  margin-left: 5px;
}

.badge-rec {
  width: 100px;
  height: 60px;
  margin-left: 7px;
  border-radius: 0.25rem;
}
/* .pregunta-pdf{
  font-weight: 400;
  color: #495057;
  font-size: 15px;
} */

.tablero {
  /* white-space: nowrap; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.radio-op1 {
  border-left-color: #f5cdcc;
  border-left-width: 5px;
}

.radio-op2 {
  border-left-color: #fce5cd;
  border-left-width: 5px;
}

.radio-op3 {
  border-left-color: #e3f2dc;
  border-left-width: 5px;
}

.radio-op4 {
  border-left-color: #c6dbf7;
  border-left-width: 5px;
}
